
@{
    ViewBag.Title = "Display";
}

<h2>Display</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Amount</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.productsList)//productList아님
        {
            <form action="@Url.Action("UpdateProduct")" method="post">
                <tr>
                    <td><input type="hidden" value="@item.ProductId" name="pId" />@item.ProductId</td>
                    <td><input type="text" value="@item.ProductName" name="name" class="form-control" /></td>
                    <td><input type="text" value="@item.ProductAmount" name="amount" class="form-control" /> </td>
                    <td><input type="submit" value="Update" class="btn btn-primary" />  </td><!--name빼니까 update할때 update뒤에 붙는거 사라짐-->
                    <td>
                        @Ajax.ActionLink("Delete", "DeleteProduct", "Inventory", new { id=item.ProductId},new AjaxOptions() { },new
                        { 
                            @class = "btn btn-danger"
                        })
                    </td>
                </tr>
            </form>
        }
    </tbody>
</table>